@using System.Security.Claims
@model IEnumerable<MP.Models.Product>

<h1>Products</h1>

@if(User.FindFirst(ClaimTypes.Role)?.Value! == "Admin")
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                IdSellers
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSellerNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
                @if (User.FindFirst(ClaimTypes.Role)?.Value! == "Admin")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else if (User.FindFirst(ClaimTypes.Role)?.Value! == "Employee")
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
